
<body>
<div class="container">
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="username">Email:</label>
    <input type="text" id="email" name="email" placeholder="Enter Email" formControlName="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter Password" formControlName="password">
    <button type="submit">Login</button>
    <p class="signup">Don't have an account? <a (click)="this.router.navigate(['/signup']);" class="link">Sign Up</a></p>
  </form>
</div>
</body>



