
<div class="profile-container">
<img class="icon" src="assets/images/profile_icon.jpg" alt="photo">
    <div class="profile-details">
        
        <h2>Welcome,Thomas Adam</h2>
        <!-- <p>Email: johndoe@example.com</p> -->
        <i class="fa-solid fa-mobile">   :12345</i> <br>
        <i class="fa-solid fa-location-dot">   :Delhi,INDIA</i>
    </div>
</div>
<div class="profile-about">
    <div class="title">CREATE BLOG</div>
</div>
<div class="blog-details">
   <img class="blog-image"src="assets/images/travel_article.jpg" alt="travelphoto">
   <p>BLOG DATE</p>
    <p>STATUS</p> 
          <button>ACTION</button>
</div>

