

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

  <div class="editors-choice-container">
    <div class="title">
      <h2 class="section-title">Editor's Choice</h2>
    </div>
    <div class="blog-slider swiper-container">
      <div class="blog-slider__wrp swiper-wrapper">

        @for(item of data; track $index){
          @if (item.isEditorsChoice == 1) {
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <img [src]="item.imageUrl" alt="">
              </div>
              <div class="blog-slider__content">
                <span class="blog-slider__code"> {{item.date}} </span>
                <div class="blog-slider__title"> {{item.title}} </div>
                <div class="blog-slider__text">  {{item.overview}} </div>
                <a class="blog-slider__button" (click)="openArticlePage(item)">READ MORE</a>
              </div>
            </div>
          }
        }
      </div>
      <div class="blog-slider__pagination"></div>
    </div>
  </div>
