.spacer {
    flex: 1 1 auto;
}

mat-toolbar{
    height: 60px;
    background: #18283B;
    position: fixed;
    z-index: 9;

    span.website-name {
        margin-left: 120px;
        font-style: italic;
    }

    a{
        padding: 8px 30px;
        margin: 0 10px;
    }

    a:hover{
        background-color: #f2eaf9;
        padding: 8px 30px;
        color: #000;
        transition: all .3s ease;
    }

    a.active{
        background-color: #0075FF;
        padding: 8px 30px;
        border-radius: 7px;
    }
}

figure.logo {
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px;
    background-color: #18283B;
    height: 130px;

    img{
        height: 100%;
    }
}

mat-sidenav{
    background-color: #18283B;
    width: 180px;
    height: 100%;
}

.side-nav-items {
    display: flex;
    flex-direction: column;
}

.side-menu-item {
    color: #fff !important;
    margin: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.account_name{
    background-color: #0280d7 !important;

    p.username {
        margin: 0;
        white-space: nowrap;
    }
}

::ng-deep .account-menu {
    &.mat-mdc-menu-panel {
        border-radius: 16px;
        width: 200px;
        position: relative;
        top: 6px;
    }

    .mat-mdc-menu-content {
        padding: 0px;
    }
}

@media (min-width:900px) {
    #menuIcon{
        display: none;
    }

    mat-sidenav{
        display: none;
    }
}

@media (max-width:900px) {
    .top-menu-item{
        display: none;
    }

    figure.logo {
        right: 20px;
    }
    
}