
<div class="main-container">

  <amader-chuti-editors-choice></amader-chuti-editors-choice>

  <amader-chuti-article-card></amader-chuti-article-card>

  <div class="become-author">
    <div class="projcard-container">
      <div class="projcard projcard-red">
        <div class="projcard-innerbox">
          <img class="projcard-img" src="assets/images/author1.jpg"/>
          <div class="projcard-textbox">
            <div class="projcard-title">Become An Author</div>
            <!-- <div class="projcard-subtitle">"Share your stories."</div> -->
            <div class="projcard-bar"></div>
            <div class="projcard-description">Dive into storytelling with resources to hone your craft. From workshops to community support, unleash your creativity and transform your writing dreams into reality. Join a vibrant literary journey and let your words paint worlds.</div>
            <div class="projcard-tagbox">
              <button><a href=""> Join now</a></button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <amader-chuti-footer></amader-chuti-footer>

  </div>



