
<div class="main-container">
  <div class="title">
    <h2 class="section-title">Editor's Choice</h2>
  </div>
  <div class="editors-choice-container">
    <div class="blog-slider">
      <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="assets/images/ladakh.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="assets/images/nature.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
      </div>
      <div class="blog-slider__pagination"></div>
    </div>
  </div>

  <div class="article-container">
    <div class="title">
      <h2 class="section-title">Articles</h2>
    </div>

    <main class="page-content">
      <div class="card">
        <div class="content">
          <h2 class="article-title">Mountain View</h2>
          <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
          <button class="btn">Read Now</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="article-title">To The Beach</h2>
          <p class="copy">Plan your next beach trip with these fabulous destinations</p>
          <button class="btn">Read Now</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="article-title">Desert Destinations</h2>
          <p class="copy">It's the desert you've always dreamed of</p>
          <button class="btn">Read Now</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="article-title">Explore The Galaxy</h2>
          <p class="copy">Seriously, straight up, just blast off into outer space today</p>
          <button class="btn">Read Now</button>
        </div>
      </div>
    </main>
    
  </div>
</div>



